.nav-list {
  @apply flex items-center mr-2 h-full;

  &--item {
    @apply flex items-center h-full;

    &--link {
      @apply mx-3 font-semibold text-sm relative h-full;

      span {
        @apply flex items-center;

        &:hover::after {
          background: #a8b1ff;
          border-top-left-radius: 0.25rem;
          height: 0.25rem;
          right: 0;
          border-top-right-radius: 0.25rem;
          content: " ";
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }
    }
  }

  .active-tab {
    span {
      @apply text-yellow;

    }
  }
}
