.header {
  @apply z-10 border-b border-bright-gray bg-white;

  &__container {
    @apply flex h-16 items-center justify-between px-4;
  }
}

.nav {
  @apply flex items-center gap-4;

  &_left {
    @apply h-full;
  }
}

.logo {
  @apply order-2
  mr-5
  size-[24px]
  bg-cover
  bg-no-repeat
  lg:order-1
  lg:h-[22px]
  lg:w-[95px]
  bg-[url('/static/images/logo-mobile.svg')]
  lg:bg-[url('/static/images/logo.svg')];
}
